:root {
    --dark-blue: darkblue;
    --grey: grey;
    --auto-height: auto;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--dark-blue);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid #777;
}

h1 {
    color: var(--dark-blue);
    border-bottom: 2px;
}

img {
    width: 150px;
    height: var(--auto-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px var(--grey);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative
}

aside img {
    width: 200px;
    height: var(--auto-height);

}

aside h2 {
    position: absolute;
    top: 47px;
    left: 150px;
}

main img {
    width: 150px;
    height: var(--auto-height);
    border: 1px solid steelblue;
    padding: 2px;
    float: right;
    box-shadow: 0 0 30px var(--grey);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.grid aside {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 20rem;
    position: relative;
}

.grid main {
    grid-column: 2/3;
    margin: 1rem;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;

}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid rgba(206, 34, 34, 0.918);

    background-color: rgb(196, 255, 210);
    color: rgb(205, 12, 160);

}